/*  Macchiato Theme */
$Crust: #181926;
$Mantle: #1e2030;
$Base: #24273a;
$Surface: #363a4f;
$Text: #cad3f5;
$Lavender: #b7bdf8;
$Blue: #8aadf4;
$Sapphire: 7dc4e4;
$Sky: #91d7e3;
$Teal: 8bd5ca;
$Green: #a6da95;
$Yellow: #ee49f;
$Peach: #f5a97f;
$Maroon: #ee99a0;
$Red: #ed8796;
$Mauve: #c6a0f6;
$Pink: #f5a97f;
$Flamingo: #f0c6c6;
$Rosewater: #f4dbd6;

/*  Font  */
@font-face {
  font-family: "frutiger";
  src: url("../media/font/FrutigerLTStd-Roman.otf");
}

@font-face{
  font-family: "frutiger";
  src: url("../media/font/FrutigerLTStd-Bold.otf");
  font-weight: bold;
}

@font-face{
  font-family: "frutiger";
  src: url("../media/font/FrutigerLTStd-Black.otf");
  font-weight: black;
}

@font-face{
  font-family: "frutiger";
  src: url("../media/font/FrutigerLTStd-Light.otf");
  font-weight: light;
}

* {
  padding: 0;
  margin: 0;
  font-family: "frutiger";
  color: $Text;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $Crust;
}

.neumorph > p {
  border-radius: 6px;
  padding: 10px;
  width: fit-content;
  background-color: $Green;
  color: #181926;
}

.title {
  width: fit-content;

  h1 {
    color: #91d7e3;
    font-weight: light;
  }

  h2 {
    color: #a6da95;
    font-weight: black;
    
  }

  h3 {
    color: #b7bdf8;
    font-weight: bold;
   
  }
}

nav {
  background-color: $Mantle;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu-toggle{
   background-color: $Green; 
    width: 30px;
    height: 30px;
  }
}

/* MOBILE */
@media only screen and (max-width: 500px) {
  .hero {
    justify-content: center;
    align-items: center;
  }

  .title {
    text-align: center;
  }

}
